.Model-ID{
    padding-left: 20px;
    font-size: larger;

}

.updater{
    width: 120px
}

.info{
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.Delete{
    padding-left: 40px;
    color:darkred;
}

