.gradient {
  background-color: black;
  background-image: linear-gradient( darkgreen, darkgrey);
}
a{
  color:black
}
body{
  background-color: darkgray;
  min-height:100vh;
  border: 4px solid black;
  position: relative;
}

/* .App{
  height: 1000%;
  border:2px solid red
} */

.App-header{
  /* border: 2px solid red; */
  display:flex;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  color:lightgrey; 
  font-size: x-large;
}

.Nav{
  /* border: 2px solid red; */
  display:flex;
  min-height: 50px;
  justify-content: space-around;
  align-items: center;
  display:flex;
  font-size: 20px;
  color:lightgrey
}
 
.Footer{
  /* border:2px solid red; */
  background-color: black;
  color:lightgrey;
  align-content: center;
  text-align: center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.foot{
  padding-bottom:90px;
  color: lightgrey;
}
.Ftext{
  color:lightgrey;
}
